body{
    background-color: rgb(243, 155, 155);
}

input{
    
    width: 500px;
    height: 83px;
}

.jeyS{
    margin-top: 50px;
    margin-left: 700px;
    
}
 

#anton{
    text-align: center;
    font-size: large;
}
